@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,800);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@font-face {
    font-family: 'Echinos Park';
    src: url(../font/echinos.ttf);
}
* {
    font-family: 'Open Sans', sans-serif !important;
}
body {
    color: #fff;
    background: url(../../images/bike-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
.clear {
    clear: both;
}
.overlay {
    width: 100%;
    height: 100% !important;
    background: #000;
    display: block;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}
*:not(.overlay) {
    z-index: 9999;
}
#logo {
    font: 40pt 'Share Tech Mono', sans-serif !important;
    float: left;
}
#signUpButton {
    float: right;
}
#signUpButton button { border-radius: 0; }
article{ padding: 20px !important; }
#slogan{
    font: 70pt 'Echinos Park' !important;
    text-align: center;
    width: 50%;
    float: left;
    margin-top: 225px;
    text-shadow: 2px 3px 10px #000;
}
#slogan span{
    font-family: inherit !important;
    display: block;
    margin-top: 15px;
}
#loginForms{
    float: right;
    width: 50%;
}
#separator{
    background: url(../../images/separator.png);
    width: 2px;
    height: 703px;
    float: left;
    position: absolute;
    left: 50%;
}
.loginFormsArea{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
input[type=text]{
    border: 0;
    margin: 10px;
    border-bottom: 4px solid #FFF;
    width: 250px;
    height: 40px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
/* IE 6 */
* html footer.footerContainer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
footer.footerContainer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    line-height: 5;
    font-size: 12px;
    color: #b2b2b2;
}
ul.footerLeftContent li{
    float: left;
    padding-left: 10px;
}
ul.footerRightContent{
    float: right;
}
ul.footerRightContent li{
    float: left;
    padding-right: 10px;
}
